<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    <form action="/updated" method="post">
      <% session[:selection].each do |bookmark| %>
      <input type="text" id="url" name='<%= bookmark.id %>_url' value='<%= bookmark.url %>'>
      <input type="text" id="title" name="<%= bookmark.id %>_title" value="<%= bookmark.title %>">
      <% end %>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
